## Titanic - Machine Learning from Disaster

Utilizaremos dados do Kaggle:                                                                              
https://www.kaggle.com/competitions/titanic/data

Análise do Titanic que é um dataset do Kaggle para competição!
         
O objetivo dessa competição é realizar previsões sobre a sobrevivência dos passageiros da base de teste.

In [1]:
# Importações
import pandas as pd
import numpy as np

### Visualizar os dados da base de Treino

In [2]:
# Visualizando a base de treino
treino = pd.read_csv('train.csv')
treino.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Já temos dados e informações dos passageiros, como por exemplo:                                          
* A classe, sobrevivência, tarifa do bilhete, o nome, gênero, idade..

In [3]:
# Verificando as informações da base 
treino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
# Verificando o tipo dos dados 
treino.dtypes.value_counts()

int64      5
object     5
float64    2
dtype: int64

In [5]:
# Verificando os valores nulos
treino.isnull().sum().sort_values(ascending=False).head(5)

Cabin          687
Age            177
Embarked         2
PassengerId      0
Survived         0
dtype: int64

### Visualizar os dados da base de teste

In [6]:
# Visualizando a base de teste
teste = pd.read_csv('test.csv')
teste.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [7]:
# Verificando as informações da base 
teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [8]:
# Analisando os valores nulos
teste.isnull().sum().sort_values(ascending=False).head(5)

Cabin          327
Age             86
Fare             1
PassengerId      0
Pclass           0
dtype: int64

* A coluna 'Tarifa do bilhete' contém um valor nulo que não estava presente na base de treino. Se realizasse o tratamento apenas para as colunas 'cabine, idade e Porto de embarcação' na base de treino, pode resultar em dificuldades ao executar o modelo na base de teste, pois teria um valor nulo e os modelos não são adequados para trabalhar diretamente com essa condição.

### Realizando os tratamentos dos dados

* #### Começar o tratamento pelos valores nulos

In [9]:
# Verificando os valores vazios para a base de treino novamente
treino.isnull().sum().sort_values(ascending=False).head(5)

Cabin          687
Age            177
Embarked         2
PassengerId      0
Survived         0
dtype: int64

In [10]:
# Retornando o shape da base
treino.shape

(891, 12)

In [11]:
# Visualizando a base novamente
treino.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

* Observe-se uma grande proporção de linhas vazias nos dados, especialmente nas colunas 'Ticket' e 'Cabin'. Notavelmente, essas colunas exibem uma diversidade específica, sem a identificação de um padrão claro. Ter uma cardinalidade muito alta, pode comprometer a generalização do modelo. Então, retirar coluna com alta cardinalidade pode ajudar a generalização do modelo.

In [12]:
# Verificando a cardinalidade dos dados 
treino.nunique().sort_values(ascending=False)

PassengerId    891
Name           891
Ticket         681
Fare           248
Cabin          147
Age             88
SibSp            7
Parch            7
Pclass           3
Embarked         3
Survived         2
Sex              2
dtype: int64

* As colunas 'Name', 'Ticket' e 'Cabin' exibem uma alta cardinalidade, com um grande número de valores diferentes, o que pode não contribuir significativamente para o desempenho do modelo. Diante disso, optamos por remover essas colunas com alta cardinalidade , estamos aprimorando a eficácia do modelo para reduzir a complexidade desnecessária e concentrar-se em informações mais relevantes.

In [13]:
# Eliminando para a base de treino
treino = treino.drop(['Name', 'Ticket', 'Cabin'],axis=1)

In [14]:
# Eliminando para a base de teste
teste = teste.drop(['Name', 'Ticket', 'Cabin'],axis=1)

* É fundamental ressaltar que todas as manipulações realizadas na base de treino devem ser replicadas na base de teste. É imperativo manter consistência entre as bases de dados, garantindo que ambos compartilhem a mesma estrutura de colunas e apresentem os dados de forma idêntica. Isso é essencial para evitar problemas e erros durante a avaliação do modelo, pois a previsão só será bem-sucedida se o modelo for treinado e testado em conjuntos de dados uniformes e equivalentes.

In [15]:
# Verificando a média das idades para a base de treino
treino.Age.mean()

29.69911764705882

* A coluna 'Age' representa a idade dos passageiros, e é esperado que todos tenham uma idade registrada. Vamos corrigir os valores ausentes utilizando a média da idade da base de treino, que é 29,7. Essa abordagem visa preencher os dados faltantes de forma significativa, contribuindo para uma representação mais precisa do conjunto de dados, em vez de manter essas informações como vazias.

In [16]:
# Selecionaremos as colunas com idade vazia e substituiremos por essa média
treino.loc[treino.Age.isnull(),'Age'] = treino.Age.mean()

In [17]:
# Fazendo o mesmo para a base de teste
teste.loc[teste.Age.isnull(),'Age'] = teste.Age.mean()

* Ainda existem dois valores vazios na coluna 'Embarked' na base de treino.
    * Para abordar essa questão, optaremos por substituir os valores ausentes pela moda da referida coluna, garantindo uma abordagem consistente na imputação de dados faltantes.

In [18]:
# Verificando os valores na coluna Embarked
treino.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [19]:
# Selecionando a moda dessa coluna
treino.Embarked.mode()[0]

'S'

In [20]:
# Substituindo os valores vazios pelo valor mais frenquente dessa coluna
treino.loc[treino.Embarked.isnull(),'Embarked'] = treino.Embarked.mode()[0]

* Para concluir, na base de teste, há um valor vazio na coluna 'Fare'. 
  * Seguiremos a mesma lógica aplicada anteriormente à coluna 'Age', atualizando o valor vazio pela moda.

In [21]:
# Verificando a média da coluna Fare para a base de teste
teste.loc[teste.Fare.isnull(), 'Fare'] = teste.Fare.mean()

#### Realizando uma nova verificação, buscamos identificar se ainda existem valores vazios tanto na base de treino quanto na base de teste. Este processo é essencial para garantir a consistência e integridade dos dados em ambas as etapas do modelo.

In [22]:
# Para a base de treino
treino.isnull().sum().sort_values(ascending=False).head(5)

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
dtype: int64

In [23]:
# Para a base de teste
teste.isnull().sum().sort_values(ascending=False).head(5)

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
dtype: int64

#### Concluímos o tratamento de todos os valores vazios em todas as colunas. Agora, o conjunto de dados está pronto para ser utilizado de maneira mais consistente e eficaz em nosso modelo.

* Focaremos nas colunas não textuais para a continuidade do nosso trabalho.

In [24]:
# Verificando as colunas de texto na base de treino
col_treino_nr = treino.columns[treino.dtypes != 'object']
col_treino_nr

Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [25]:
# Selecionando apenas os valores numéricos da base de treino
treino_nr = treino.loc[:,col_treino_nr]

In [26]:
# Verificando as colunas de texto na base de teste 
col_teste_nr = teste.columns[teste.dtypes != 'object']
col_teste_nr

Index(['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [27]:
# Selecionando apenas os valores numéricos da base de teste
teste_nr = teste.loc[:,col_teste_nr]

#### Podemos escolher um modelo para classificar esses dados. 
 #### Inicialmente, vamos realizar testes entre:
 * Árvore da classificação
 * Classificação dos vizinhos mais próximos
 * Regressão Logística

* Antes de aplicar os algoritmos, é necessário dividir a base de treino e validação. 
 * Faremos isso utilizando a função **train_test_split**                                                          
 https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

In [28]:
# Importando o train_test_split
from sklearn.model_selection import train_test_split

* Não vou incluir utilizar 'PassengerId' nesta etapa, pois isso poderia impactar a precisão. A razão para não excluir a coluna 'PassengerId' anteriormente é que na hora de fazer a submissão, vai precisar enviar uma informação com 'PassengerId' e 'Survived'. Então se tivesse apagado 'PassengerId' na base de treino lá em cima, não teria mais ele para fazer a submissão. Ao separar X e y, a coluna 'PassengerId' será omitida, mas ela permanecerá na base de dados. Vamos focar o treinamento apenas nas colunas numéricas neste momento, já que os modelos e algoritmos que estamos utilizando não foram específicos para lidar com valores de texto.

In [29]:
# Vamos separar a base de treino em conjuntos X e y, excluindo a coluna que desejamos prever, que é a 'Survived'
X = treino_nr.drop(['PassengerId', 'Survived'],axis=1)
y = treino.Survived

In [30]:
# Separando em treino e validação
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.33, random_state=42)

* #### Utilizando a Árvore de Classificação 
https://scikit-learn.org/stable/modules/tree.html#classification

In [31]:
# Fazendo a importação
from sklearn import tree

In [32]:
# Criando o classificador
clf_ac = tree.DecisionTreeClassifier(random_state=42)

In [33]:
# Fazendo o fit com os dados
clf_ac = clf_ac.fit(X_train,y_train)

In [34]:
# Fazendo a previsão
y_pred_ac = clf_ac.predict(X_val)

* #### Utilizando o KNeighborsClassifier
https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html#sklearn.neighbors.KNeighborsClassifier

In [35]:
# Importando filtro de avisos
import warnings
# Ignorar todos os avisos futuros.
warnings.filterwarnings('ignore')

In [36]:
# Fazendo a importação
from sklearn.neighbors import KNeighborsClassifier

In [37]:
# Criando o classificador
clf_knn = KNeighborsClassifier(n_neighbors=3)

In [38]:
# Fazendo o fit com os dados
clf_knn = clf_knn.fit(X_train,y_train)

In [39]:
# Fazendo a previsão
y_pred_knn = clf_knn.predict(X_val)

* #### Utilizando a Regressão Logística
https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html#sklearn.linear_model.LogisticRegression

In [40]:
# Fazendo a importação
from sklearn.linear_model import LogisticRegression

In [41]:
# Criando o classificador
clf_rl = LogisticRegression(random_state=42)

In [42]:
# Fazendo o fit com os dados
clf_rl = clf_rl.fit(X_train,y_train)

In [43]:
# Fazendo a previsão
y_pred_rl = clf_rl.predict(X_val)

* #### Vamos avaliar os modelos para determinar qual deles é mais adequado para a nossa análise
 * Usaremos a acurácia como método de avaliação usado na competição:                                             
 https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html

In [44]:
# Fazendo a importação
from sklearn.metrics import accuracy_score

In [45]:
# Vamos realizar uma avaliação da árvore de classificação
accuracy_score(y_val, y_pred_ac)

0.6169491525423729

In [46]:
# Vamos realizar uma avaliação do KNeighborsClassifier
accuracy_score(y_val, y_pred_knn)

0.6542372881355932

In [47]:
# Vamos realizar uma avaliação da Regressão Logística
accuracy_score(y_val, y_pred_rl)

0.7254237288135593

* #### Após a avaliação, constatamos que o modelo de 'Regressão Logística' apresenta o melhor desempenho entre os três analisados

* Vamos realizar uma análise da **matriz de confusão**, pois, para problemas de classificação, ela oferece uma visualização valiosa. Nos permite identificar se estamos cometendo erros significativos em uma determinada direção ou outra.                      
https://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html

In [48]:
# Fazendo a importação
from sklearn.metrics import confusion_matrix

In [49]:
# Vamos realizar uma avaliação da árvore de classificação
confusion_matrix(y_val, y_pred_ac)

array([[125,  50],
       [ 63,  57]], dtype=int64)

In [50]:
# Vamos realizar uma avaliação do KNeighborsClassifier
confusion_matrix(y_val, y_pred_knn)

array([[133,  42],
       [ 60,  60]], dtype=int64)

In [51]:
# Vamos realizar uma avaliação da Regressão Logística
confusion_matrix(y_val, y_pred_rl)

array([[156,  19],
       [ 62,  58]], dtype=int64)

#### Prosseguindo com a previsão para os dados de teste
 * Utilizaremos o modelo com melhor precisão para efetuar o predict na base de teste

In [52]:
# Visualizando o X_train
X_train.head(5)

     Pclass        Age  SibSp  Parch     Fare
6         1  54.000000      0      0  51.8625
718       3  29.699118      0      0  15.5000
685       2  25.000000      1      2  41.5792
73        3  26.000000      1      0  14.4542
882       3  22.000000      0      0  10.5167

In [53]:
# Visualizando a base de teste (somente com valores numéricos)
teste_nr.head(5)

   PassengerId  Pclass   Age  SibSp  Parch     Fare
0          892       3  34.5      0      0   7.8292
1          893       3  47.0      1      0   7.0000
2          894       2  62.0      0      0   9.6875
3          895       3  27.0      0      0   8.6625
4          896       3  22.0      1      1  12.2875

* Observamos a presença da coluna 'PassengerId', a qual não deveria estar presente, pois esperamos receber do modelo os dados do 'X_treino'. Para garantir a igualdade entre a base de teste e a base de treino, é necessário remover a coluna 'PassengerId' e essa ação pode ser realizado criando uma nova variável na base de teste.

In [54]:
# Eliminando a coluna de PassengerId e criando uma nova variável
X_teste = teste_nr.drop("PassengerId",axis=1)

In [55]:
# Fazendo a previsão utilizando a regressão logística na base de teste
y_pred = clf_rl.predict(X_teste)

In [56]:
# Criando uma coluna com a previsão na base de teste
teste['Survived'] = y_pred

In [57]:
# Selecionando apenas a coluna de Id e Survived para fazer o envio
base_envio = teste[['PassengerId','Survived']]

* ##### Dessa maneira, o resultado está pronto para ser enviado

In [58]:
# Exportando para um csv
base_envio.to_csv('resultados1.csv',index=False)